<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lender Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <nav class ="navbar">
        <h1 class="logo"> CoinLective</h1>
        <u1 class ="nav-links"></u1>
            <li><a href = "#"> Home </a></li>
            <li><a href="#">My Loans</a></li>
            <li><a href="#">Profile</a></li>

    </nav>
    <header class = "welcome">
        <h2>Welcome, Lender!</h2>
        <div class = "form-container">
            <h3> Fund a Loan</h3>
            <form id=" fundForm">
                <label for = "Full Name"> Full Name: </label>
                <input type = "text" placeholder="Full name" required><br>
                <label for = "amount"> Enter Loan Amount:  </label>
                <input type = "number" placeholder="amount in GHS" required><br>
                <label for = "Bank"> Bank Name: </label>
                <input type = "text" placeholder="BankName" required><br>
                <label for = "BankNo"> Bank Account Number: </label>
                <input type = "number" placeholder="Account No" required><br>
                <label for = "Interest Rate"> Desired Interest on return: </label>
                <input type = "number" placeholder="Interest%" required><br>
                <label for = "LoanDuration"> By what date should your money be returned?: </label>
                <input type = "date" placeholder="returnByDate" required><br>
                <label for = "confirmation"> Verify your details before confirming! </label><br>
                <button type ="submit"> Confirm</button>
            </form>
        </div>
    </header>
   
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
<br>
<footer><p>&copy; 2025 CoinLective. All rights reserved.</p></footer>
</html>
