<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Your Account - ILoan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
  <a href="{{ url_for('home') }}">
    <button>Back</button>
  </a>

  <h2>Create Your ILoan Account</h2>

  <form action="{{ url_for('signup') }}" method="post">

    <label for="Phone_Number">Phone Number:</label>
    <input id="Phone_Number" name="Phone_Number" placeholder="Enter Phone Number" />

    <label for="Student_Id">Student ID:</label>
    <input id="Student_Id" name="Student_Id" placeholder="Enter your Student ID" />

    <label for="First_Name">First Name:</label>
    <input id="First_Name" name="First_Name" placeholder="Enter First Name" />

    <label for="Last_Name">Last Name:</label>
    <input id="Last_Name" name="Last_Name" placeholder="Enter Last Name" />

    <label for="email">Email:</label>
    <input id="email" name="email" placeholder="Enter your Ashesi Email" />
    <button type="submit">Submit</button>
    

  </form>

  <script src="{{ url_for('static', filename='script.js') }}">   
  </script>

</body>
</html>
