<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Email Verification - ILoan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
  <a href="{{ url_for('signup') }}">
    <button>Back</button>
  </a>


  <h2>Verify Your Email</h2>
  <p>We have sent a 4-digit code to your email. Please enter it below.</p>

  <form action="{{ url_for('verification')}}" method="post">
    <label for="code">Verification Code:</label>
    <input type="text" id="code" name="code" maxlength="4" required />
    <button type="submit">Verify</button>
    <div class="error" id="error-message"></div>
  </form>

  <script src="{{ url_for('static', filename='script.js') }}"> 
  </script>

</body>
</html>
